# Ignore dependencies
vendor
node_modules

# Ignore local environment and secret files
.env.dist

# Ignore logs and caches
var/log/*
var/cache/*
var/sessions/*

# Ignore Symfony specific artifacts
symfony.lock

# Ignore build artifacts
build/
dist/
out/

# Ignore git-related files
.git
.gitignore
